body {
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
}

h1 {
    padding: 30px;
    background-color: grey;
    color: white;
}

.card {
    text-align: left;
}

#search {
    background-color: rgb(0, 110, 255);
    color: white;
}

.forecast-days {
    background-color: rgb(0, 110, 255);
    margin: 1%;
    border-radius: 15px;
    width: 18%;
    float: left;
    color: white;
    text-align: left;
    font-size: small;
}

.low {
    padding: 0;
    background-color: lightgreen;
}

.moderate {
    padding: 0;
    background-color: yellow;
}

.high {
    padding: 0;
    background-color: orange;
}

.very-high {
    padding: 0;
    background-color: rgb(255, 81, 0);
}

.uv-result {
    float: left;
}

