body {
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
}

h1 {
    padding: 30px;
    background-color: grey;
    color: white;
}

.card {
    text-align: left;
}

#search {
    background-color: rgb(0, 110, 255);
    color: white;
}

.forecast-days {
    background-color: rgb(0, 110, 255);
    margin: 1%;
    border-radius: 15px;
    width: 18%;
    float: left;
    color: white;
    justify-content: center;
    font-size: small;
    text-size-adjust: 100%;
}

.uv-index {
    margin-left: 140px;
}

.low {
    padding: 10px;
    background-color: rgb(29, 197, 29);
    color: black;
    border-radius: 15px;

}

.moderate {
    padding: 10px;
    background-color: yellow;
    color: black;
    border-radius: 15px;

}

.high {
    padding: 10px;
    background-color: orange;
    color: black;
    border-radius: 15px;

}

.very-high {
    padding: 10px;
    background-color: rgb(255, 30, 0);
    color: black;
    border-radius: 15px;

}

.icon {
    float: left;
    padding-right: 40px;
    padding-top: 20px;
}

.image {
    width: 100%
}

